<div class="m-auto">
  <div class="d-flex justify-content-between">
    <%= render "back_button" %>
    <div class="action-buttons d-flex">
      <%= button_to "Edit", edit_recipe_path(@recipe), method: :get, class: "btn btn-primary me-3" %>
      <%= button_to "Delete", @recipe, method: :delete, class: "btn btn-primary", form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>
  </div>
  <div class ="row mt-5">
    <div class="col-sm-6">
      <h1 class="mb-3"><%= @recipe.title %></h1>
      <p>Author: <%= @recipe.user.name%></p>
      <p>Likes: 15</p>
      <h5 class="mt-5">Description:</h5>
      <p><%= @recipe.body%></p>
    </div>
    <div class="col-sm-6">
      <% if @recipe.image %>
        <%= image_tag @recipe.image_url, class: "w-100 rounded"%>
      <%else%>
        <%= image_tag "food", class: "w-100 rounded"%>
      <%end%>
    </div>
  </div>
</div>
