<div class="m-auto">
  <div class="d-flex justify-content-between">
    <%= render "back_button" %>
    <div class="action-buttons d-flex">
      <% if current_user.recipes.include? @recipe %>
        <%= button_to "Edit", edit_recipe_path(@recipe), method: :get, class: "btn btn-primary me-3" %>
        <%= button_to "Delete", @recipe, method: :delete, class: "btn btn-primary", form: { data: { turbo_confirm: "Are you sure?" } } %>
      <%end%>
    </div>
  </div>
  <div class ="row mt-5">
    <div class="col-sm-7">
      <div class="recipe-description">
        <h1 class="mb-3"><%= @recipe.title %></h1>
        <p>Author: <%= @recipe.user.name%></p>
        <%= render "recipe_stats", recipe: @recipe%>
        <h5 class="mt-5">Description:</h5>
        <p><%= @recipe.body%></p>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="image-container rounded overflow-hidden", style="max-height: 500px;">
        <%= render "recipe_image", recipe: @recipe%>
      </div>
    </div>
  </div>
  <div>
    <div class="col-sm-7 comments">
      <h5>Comments:</h5>
      <%= render "comments/form", recipe: @recipe%>
      <%= render @recipe.comments%>
    </div>
  </div>
</div>
