<%= turbo_frame_tag "ingredient_#{form.index}" do %>
  <h6>Ingredient #<%= form.index + 1%></h6>
  <%= form.hidden_field :id %>
  <div>
    <%= form.fields_for :product do |product_form| %>
      <%= product_form.text_field :name, placeholder: "Name" %>
    <% end %>
    <%= form.text_field :amount, placeholder: "Amount" %>
  </div>
<%end%>
