<%= turbo_frame_tag "ingredient_#{form.index}" do %>
  <h6>Ingredient #<%= form.index + 1%></h6>
  <%= form.hidden_field :id %>
  <div>
    <%= form.fields_for :product do |product_form| %>
      <%= product_form.text_field :name, placeholder: "Name" %>
    <% end %>
    <%= form.text_field :amount, placeholder: "Amount" %>
  </div>
  <%= form.submit "delete", 
        formaction: ingredient_path(form.index, form.object.id), 
        formmethod: :delete, 
        formnovalidate: true, 
        data: { turbo_frame: "ingredient_#{form.index}" } %>
<%end%>
